*{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scrollbar-width: none;
}

.app.day{
    --bg: #F4F7ED;
    --bg-secondary: #E9ECE3;
    --text: #1E2022;
    --text-secondary: #2C2F31;
    --red: #C94C4C;
    --blue: #3A7CA5;
    --green: #6A994E;
    --yellow: #E3B505; 
}
  
.app.night{
    --bg: #1E2022;
    --bg-secondary: #2C2F31;
    --text: #F4F7ED;
    --text-secondary: #E9ECE3;
    --red: #FF6B6B;
    --blue: #4D96FF;
    --green: #6EEB83;
    --yellow: #F2C94C; 
}

sup{
    font-size: x-small;
}

.toast{
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    border: 1px solid var(--text);
    border-radius: 4px;
    margin-bottom: 5px;
    margin-right: 4px;
}

h1{
    font-family: Oswald;
    font-size: 40px;
    line-height: 1;
}

h2{
    font-family: Oswald;
}

a{
    color: var(--text);
}